  #footer{
  margin-top:95px;
  }
  body{
  /* background-color:white; */
    background: white;
    background-size: cover;
  }
  h2{
    font-family: "Lucida Console", Monaco, monospace;
  }
  td:nth-child(6) {
    overflow: hidden;
  }
  td, th{
    max-width: 200px;
    padding: 8px;
  }
  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }
  .spaceTop{
      padding-top: 50px;
  }

  table{
    width:100%;
    border: 1px solid black;
    background-color: white;
  }
  table, th, td {
    border: 1px solid black;
  }
  th {
    background: rgb(159, 194, 196);
 }
  th a {
    color: #fff;
  }
  th a:hover {
    color: #fff;
    text-decoration: underline;
  }
  th, td{
    text-align: center;

  }
  td {

  text-align: center;
  vertical-align: middle;
  }
  .titulo-result{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    width:50%;
    text-align: center;
    line-height: 150%;
    font-weight: bolder;
  }
  .spaceleft{
    margin-left:10px;
  }
  .meio{
    display: block;
    margin: auto;
  }
  .teamImage{
    width: 150px;
    height: 150px;
  }
   .spaceleftTeam{
    margin-left:190px;
  }
  .imageEmail{
    margin-left:-8px;
  }
  @media only screen and (max-width: 900px) {
    .indiceInfo {
        visibility: hidden;
        margin-top:-150px;
    }
  }
  .imagemAbbreviation{
    max-width: 100%;
    border: 3px solid;
  }